<div class="row">
        <div class="big-box">
          <div class="col-lg-12">
            <div class="col-md-4">
              <div class="box-bg">
                <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                  <div class="align-center">
                    <i class="fa fa-qrcode fa-5x"></i>
                    <h4 class="text-bold">QR Code</h4>
                    <p>Generate batch of qr codes and payment gateway

                    </p>

                      <button type = "submit" ng-click="profile.batpay();" class="btn btn-success">Click here</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-bg">
                <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
                  <div class="align-center">
                    <i class="fa fa-print fa-5x"></i>
                    <h4 class="text-bold">Scanner</h4>
                    <p>Mobile Scanner to scan the QR Codes and get the product details attached to it.
                    </p>
                    <button class="btn btn-success" type = "submit" ng-click="profile.scan();">Click here</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-bg">
                <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                  <div class="align-center">
                    <i class="fa fa-truck -o fa-5x"></i>
                    <h4 class="text-bold">Tracker</h4>
                    <p>Tracker application to track the whereabout of the product
                    </p>
                    <button class="btn btn-success" type = "submit" ng-click="profile.view();">Click here</button>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>