<!-- <div class="col-lg-12">
          <h4>Enter<strong>details below</strong></h4>
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
<!           <form  class="contactForm" ng-submit="register.regUser(regData);">
 -->            <!-- <form role="form" ng-submit="register.regUser(regData);" >
            <div class="row">
              <div class="col-lg-4 field">
                <input type="text" name="num" class="form-control" id="num" ng-model="register.regData.num" placeholder="Number of Qr Codes to be generated" data-rule="minlen:4" />
                 
              </div>
             
              <div class="col-lg-12 margintop10 field">
                
                <p>
                  <input type="submit"  class="btn btn-theme margintop10 pull-left">generate</button>
                  
                </p>
              </div>
            </div>
          </form>
        </div> -->
 

<div class="col-lg-12">

<form role="form" ng-submit="register.regUser(Data);" >
              
                <div class="row">
                  
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-10  col-md-offset-1 ">
                    <div class="form-group">
                      <div class="input-group">
                        <span class="input-group-addon">
                          <i class="glyphicon glyphicon-user"></i>
                        </span> 
                        <input class="form-control" placeholder="number" id = "num" name="num" type="text" ng-model="register.Data.num" autofocus>
                      </div>
                    </div>
                     
                    <div class="form-group">
                      <input type="submit" class="btn btn-lg btn-primary btn-block" value="enter" >
                    </div>
                  </div>
                </div>
              
            </form>

</div>



