<div class="row">
        <div class="big-box">
          <div class="col-lg-12">
            <div class="col-md-4">
              <div class="box-bg">
                <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.9s">
                  <div class="align-center">
                    <i class="fa fa-camera-retro fa-5x"></i>
                    <h4 class="text-bold">Batch</h4>
                    <p>This is for the batch generation of the QR codes , Payment to be done if the expirydate is over.....

                    </p>

                      <button type = "submit" ng-click="bp.gen();" class="btn btn-success">Generate</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="box-bg">
                <div class="wow bounceInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
                  <div class="align-center">
                    <i class="fa fa-credit-card fa-5x"></i>
                    <h4 class="text-bold">Payment</h4>
                    <p>Payment for the ones who has to do the repayment for the generation of the QR codes.
                    </p>
                    <button class="btn btn-success" type = "submit" ng-click="bp.pay();">Pay</button>

                  </div>

                </div>
              </div>
            </div>
         
             
          </div>
        </div>
      </div>