<div class="row mar-bot40">
    <div class="col-md-offset-3 col-md-6">
      <div class="sections-header">
        <h2>Scanner</h2>
      </div>
    </div>
  </div>
  <section id="content">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <article>
            <div class="post-image">
              <div class="post-heading">
                <h3><a href="#">Scan the QR Code and get the product details corresponding to it</a></h3>
              </div>
              <video id="preview" width="300", height="500"> </video>
<!--               <form role="form" ng-submit="register.regUser(regData);"> -->
                                      <p>Data: {{showdata}}</p>
                                      <input type="submit" class="btn btn-lg btn-primary btn-block" value="Get">
             <!--  </form> -->

            </div>
   

          </article>
           
           
        </div>
        <div class="col-lg-4">
          <aside class="right-sidebar">
            <div class="widget">
              <form class="form-search">
                <input class="form-control" type="text" placeholder="Search..">
              </form>
            </div>


            
            </div>
          </aside>
        </div>
      </div>
    </div>
  </section>

